@import './variables.scss';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $body-bg-color;
  color: $color-primary;
  font-size: 14px;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
}

main {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
}

main > section {
  padding: 0 20px;
}

@media screen and (min-width: 800px) {
  main {
    max-width: 1000px;
    padding: 40px 0 0 60px;
  }
}

@media screen and (min-width: 1100px) {
  main > section {
    max-width: 1050px;
  }
}
