$bg-primary: #ffffff;
$bg-secondary: #777777;
$bg-disabled: #ababab;
$color-primary: #252525;
$brand-color-primary: #1062fe;
$brand-color-secondary: #000000;
$brand-color-light: #f4f7fc;
$brand-color-medium: #f2f4fb;
$brand-color-fade: #659aff;
$body-bg-color: #eaebef;
$shadow-color: rgba(100, 100, 100, 0.5);
$shadow-color-light: rgba(150, 150, 150, 0.15);
