$bg-primary: #ffffff;
$bg-secondary: #777777;
$bg-disabled: #ababab;
$color-primary: #333333;
$brand-color-primary: #1062fe;
$brand-color-secondary: #000000;
$brand-color-light: #f4f7fc;
$brand-color-medium: #f2f4fb;
$brand-color-fade: #659aff;
$body-bg-color: #eaebef;
$shadow-color: rgba(100, 100, 100, 0.5);
$shadow-color-light: rgba(150, 150, 150, 0.15);
$header-color: #f5f5f5;
$color-danger: #fd5d60;
$color-danger-light: #f8e3e6;
$border-color: #eaeaea;
$border-color2: #d7d7d7;
$bg-success: #7cf095;
