@import '../../styles/variables.scss';

.header {
  padding: 10px 20px;
  background-color: $bg-primary;
  box-shadow: 1px 1px 3px $shadow-color;
  z-index: 100;
}

.navbar {
  margin: 0 auto;
}

.logo {
  min-width: 60px;
  max-height: 20px;
  margin-left: -20px;
}
